
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
}
#main{
    width: 100%;
    position: relative;
    
   
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    border-bottom: 2px solid #dadada;
}
nav h2{
    font-size: 2vw;
    font-weight: 700;
}
nav h3{
    font-size: 1vw;
   
}
nav i{
    font-size: 1.6vw;
    font-weight: 800;
    display: none;
}
nav button{
    font-size: 1.7vh;
    padding:1.1vh 2.1vh;
    background-color: #112b46;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.nav-center{
    display: flex;
    align-items: center;
    gap: 4vw;
}
.content{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}
.left{
    width: 55%;
    height: 100%;
    padding: 5vw 4vw ;
}
.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #fc745e;
}
.left p{
    font-size: 1vw;
    font-weight: 600;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.right{
    width: 45%;
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
}
button{
    font-size: 1.7vh;
    padding:1.1vh 2.1vh;
    background-color: #fc745e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
@media (max-width:600px){
    nav{
        height: 60px;
    }
    nav h2{
        font-size: 5.1vw;
    }
    nav h3{
        font-size: 4vw;
        display: none;
    }
    nav i{
        font-size: 6vw;
        display: block;
    }
    nav button{
        display: none;
    }
    .content{
        height: calc(100vh - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: calc(100% - 50%);
       
    }
    .left h1{
        font-size: 5vh;
        line-height: 5vh;
    }
    .left p{
        font-size:1.5vh ;
        width: 90%;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }
    .right{
        width: 100%;
        height: 50%;
       
    }
}
